body {
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.9;
    padding: 1;
    background-image: url(ifyouhaveany-image.jpeg);
    background-blend-mode: soft-light;
}



#navbarNavDropdown {
    justify-content: flex-end;
    font-size: 17px;
    font-family: sans-serif;
}

#navbarDropdownMenuLink a{
    color: rgb(221,56,16);
    background-color: white;
}

#navbar  a {
    background-color: rgb(51,51,51);
    color: white;
}
#navbarBackground{
    color: rgb(221,56,16);
    background-color: rgb(51, 51, 51) !important;
}
#navbar li a:hover {
    background-color: none;
    padding: auto;
    color: rgb(221, 56, 16);
    
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }